<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crime-Detection Admin</title>
  </head>
  <body>
    <h1>Registered Complains</h1>
    <table>
      <tr>
        <th>Complain ID</th>
        <th>Complain Description</th>
        <th>Complain Date</th>
        <th>Complain By</th>
        <th>Contact</th>
      </tr>
      <tr>
        {{mydata.id}} {{mydata.description}} {{mydata.type}} {{mydata.date}}
        {{mydata.name}} {{mydata.phone}}
      </tr>
    </table>
  </body>
</html>
