<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crime-Detection Admin</title>
  </head>
  <body>
    <h1>Registered Complains</h1>
    <table border="1px">
      <tr>
        <th>Complain ID</th>
        <th>Complain Description</th>
        <th>Complain Date</th>
        <th>Complain Type</th>
        <th>Complain By</th>
        <th>Contact</th>
      </tr>
      <tr>
        <td>{{mydata.id}}</td>
        <td>{{mydata.description}}</td>
        <td>{{mydata.date}}</td>
        <td>{{mydata.type}}</td>
        <td>{{mydata.name}}</td>
        <td>{{mydata.phone}}</td>
      </tr>
    </table>

    <table>
      <tr>
        {% for data in context %}
        <td>{{data.id}}</td>
        <td>{{data.description}}</td>
        <td>{{data.date}}</td>
        <td>{{data.type}}</td>
        <td>{{data.name}}</td>
        <td>{{data.phone}}</td>
        {% endfor %}
      </tr>
    </table>
  </body>
</html>
