<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crime-Detection Admin</title>
  </head>
  <body>
    <h1>Registered Complains</h1>
    <table>
      <tr>
        <th>Complain ID</th>
        <th>Complain Description</th>
        <th>Complain Date</th>
        <th>Complain By</th>
        <th>Contact</th>
      </tr>
      {% for complain in my_data %}
      <tr>
        <td>{{ complain.id }}</td>
        <td>{{ complain.description }}</td>
        <td>{{ complain.type }}</td>
        <td>{{ complain.date }}</td>
        <td>{{ complain.name }}</td>
        <td>{{ complain.phone }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
